---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectCard from '../components/ProjectCard.astro';
import { ChevronsLeftRightEllipsis, Mic, Form } from 'lucide-astro';
---

<Layout>
	<Header />

	<main class="container">
		<section class="hero">
			<div class="hero-content">
				<img src="/profile.jpeg" alt="Profile" class="profile-image" />
				<div>
					<h2>Ciao, sono Stivv</h2>
					<p class="muted">Sono uno sviluppatore back-end e project manager con 10 anni di esperienza.</p>
					<p class="muted">Sì, il layout del sito è brutto e vibe-coddato perché non ho gusti nel design.</p>
				</div>
			</div>
		</section>
		<section id="about" class="section">
			<h2>Chi sono</h2>
			<p class="muted">Comincio a lavorare nel 2016 come analista programmatore presso CPL Concordia, occupandomi di controllare e segnalare malfunzionamenti su portali di fatturazione luce e gas rivolti ai clienti e di redigerne le guide, intervenendo di tanto in tanto sui database.</p>
			<p>Terminato il tirocinio ho inseguito il mio obiettivo di diventare un programmatore a tutti gli effetti, cominciando a lavorare per Rewind e Altuofianco come web developer, sviluppando e mantenendo i CRM aziendali.</p>
			<p>Inizialmente sviluppatore web in linguaggio PHP e Javascript, nel 2017/2018 ho contribuito alla creazione di un framework PHP personalizzato per il sito avvocatoaltuofianco.it.</p>
			<p>A partire dal 2019 ho cominciato a interessarmi a diversi framework per migliorare le tecnologie aziendali.</p>
			<p>Nel 2024 ho contribuito, dopo anni di sviluppo, alla pubblicazione del nuovo CRM aziendale a microservizi basato su Next.js e CodeIgniter.</p>
			<p>Dal 2025 ricopro anche il ruolo di Web App Project Manager.</p>
		</section>
		<section id="skills">
			<h2>Competenze</h2>
			<div class="skills-list">
				<div class="skill-item">
					<ChevronsLeftRightEllipsis size={24} class="icon" />
					<span>PHP</span>
				</div>
				<div class="skill-item">
					<ChevronsLeftRightEllipsis size={24} class="icon" />
					<span>SQL</span>
				</div>
				<div class="skill-item">
					<ChevronsLeftRightEllipsis size={24} class="icon" />
					<span>Javascript</span>
				</div>
				<div class="skill-item">
					<Form size={24} class="icon" />
					<span>Project management</span>
				</div>
				<div class="skill-item">
					<Mic size={24} class="icon" />
					<span>Public speaking</span>
				</div>
			</div>
		</section>
		<section id="projects" class="section">
			<h2>Cosa faccio</h2>
			<div class="projects-grid">
				<ProjectCard title="Web development" description="Progettazione e sviluppo di gestionali aziendali" link="https://gitlab.com/stevebenna" />
				<ProjectCard title="Speaker radio" description="Sono station manager per Radio Nowhere, una radio web amatoriale che trasmette rock" link="https://radionowhere.it" />
				<ProjectCard title="Volontariato" description="Sono vicepresidente di Ecobusters ODV, con cui pulisco i parchi della mia città" link="https://www.instagram.com/ecobusters_mirandola" />
			</div>
		</section>

		<section id="contact" class="section">
			<h2>Contatti</h2>
			<p class="muted"><a href="mailto:24.benattistefano@gmail.com">24.benattistefano@gmail.com</a></p>
		</section>
	</main>

	<Footer />
</Layout>
