---
---

<footer class="site-footer">
  <div class="container">
    <p>Est. 1996, based in Mirandola IT</p>
    <p>© {new Date().getFullYear()} Stefano Benatti — Built with Astro</p>
  </div>
</footer>
